body {
  font-family: Helvetica;
}

h1 {
  font-weight: bold;
  font-size: 70px;

  }

h2 {
  font-weight: bold;
  font-size: 32px;
}

.main {
  text-align: center;
}

.general {
  background-image:url("../images/the-flatiron-building.png");
}

.main .general {
  background-image:url("../images/the-flatiron-building.png");
  color: white;

}

.main .general p a {
  color: white;
}

.main .general p {
  font-size: 18px;
}

.main .general h2 {
  font-weight: bold;
  font-size: 23px;
}

.main .content p  {
  font-size: 14px;
}

.main .contact p  {
  font-size: 14px;
}

.general span {
  font-size: 11px;
}
